/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(219, 219, 219);
  color: black;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Ancizar Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  text-align: center;
}